{% extends 'base.html.twig' %} {% block title %}Les livres {% endblock %} {% block body %}
<div class="bg-light p-3">
    <h1>Les livres</h1>
</div>

<div class="row">
    {% for book in books %}
    <div class="col-4 mt-4">
        <div class="border border-dark rounded p-2 clearfix">
            <h2>
                {{ book.title }} - {{ book.price }} €
            </h2>
            <img class="img-fluid rounded" src="/images/{{ book.image }}" alt="Image de {{ book.title }}">
            <hr>
            <a href="{{ path('cart_add', {'id': book.id})  }}" class="btn btn-success float-right">
                <i class="fas fa-shopping-cart mr-1"></i> Ajouter
            </a>
            <a href="{{ path('book_show', {'slug': book.slug})}}" class="btn btn-success float-left">
            En savoir plus
            </a>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}