{% extends 'base.html.twig' %} {% block title %} {{ book.title }} {% endblock %} {% block body %}


<div class="book-title" style="background-image: url({{ book.image }}z)">
    <div class="container">
        <h1>{{ book.title }}</h1>
        <p>{{book.subtitle}}</p>
        <p class="h2">
            <strong>le livre</strong> pour <strong>{{book.price}}&euro;</strong>
        </p>
        <p>{{book.author}}</p>
        <p>{{book.coAuthor}}</p>
        <p>{{book.nbPage}} pages </p>
        <a href="{{ path('cart_add', {'id': book.id})  }}" class="btn btn-success float-left">
            <i class="fas fa-shopping-cart mr-1"></i> Commander
        </a>
    </div>
</div>

<br><br>
<div class="container">
    <h1>{{ book.title }}</h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ book.description | raw }}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for image in book.image %}
                    <div class="carousel-item active">
                        <img src="{{ book.image }}" class="d-block w-100" alt="first slide">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="http://placehold.it/64x64" alt="Avatar de l'auteur">
                </div>
                <div class="col">
                    <h3>{{ book.author }}</h3>
                    <span class="badge badge-primary">3 livres</span>

                </div>

            </div>
            <p>{{ book.authorbiographie }}</p>
        </div>
    </div>
</div>

{% endblock %}